{% extends '../base.twig' %}

{% block content %}
    <h1>Recepty: </h1>
{#    <!-- Menu na zoradenie -->#}
{#    <div class="nav-item dropdown" style="margin-top: 10px;">#}
{#        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Zoradit podla:</a>#}
{#        <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown">#}
{#            <li><a class="dropdown-item" href="/post/orderbyname"><i class="fa-solid fa-arrow-down-a-z"></i>  Zoradit podla nazvu</a></li>#}
{#        </ul>#}
{#    </div>#}
    <!-- Loop na zobrazenie postov -->
    {% for post in posts %}
        <div class="card mt-4" style="padding: 20px;">
            <a href="/post/pod_info/{{ post.ID }}">
                <div class="float-start">
                    <h2 class="fa-solid" style="color:red">{{ post.nazov }}</h2>

                    <h3 class="fa-solid">{{ postup }}</h3>
                    <h3 class="fa-solid">{{ narocnost }}</h3>
                    &nbsp;
                </div>
{#                <div class="float-end">#}
{#                    <i class="fa-regular" style="color:blue">{{ post.typ }}</i>#}
{#                    <i class="fa-regular" style="color:green">{{ post.region }}</i>#}
{#                    <i class="fa-regular">{{ post.datum_konania | date('d. m. Y') }}</i>#}
{#                </div>#}
            </a>
        </div>
    {% endfor %}
    {{ message }}
{% endblock%}